<div class="flex align-items-center border-bottom-1 surface-border p-3 lg:p-6">
    <div class="relative flex align-items-center mr-3"><img alt="user.name" class="w-4rem h-4rem border-circle shadow-4"
            src="https://www.primefaces.org/diamond-ng/assets/demo/images/avatar/ionibowcher.png">
            <span class="w-1rem h-1rem border-circle border-2 surface-border absolute bottom-0 right-0 bg-green-400"></span>
    </div>
    <div class="mr-2">
        <span class="text-900 font-semibold block">Ioni Bowcher</span><span class="text-700">Last active 1 hour ago</span>
    </div>
    <div class="flex align-items-center ml-auto">
        <button pbutton="" pripple="" type="button" icon="pi pi-phone"
            class="p-element p-ripple p-button-rounded p-button-outlined p-button-secondary mr-3 p-button p-component p-button-icon-only">
            <span class="p-button-icon pi pi-phone" aria-hidden="true"></span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
        </button>
        <button pbutton="" pripple="" type="button" icon="pi pi-ellipsis-v"
            class="p-element p-ripple p-button-rounded p-button-outlined p-button-secondary p-button p-component p-button-icon-only">
            <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
            <span class="p-ink" aria-hidden="true" role="presentation"></span>
        </button>
    </div>
</div>