
<!-- <ng-container class="ng-star-inserted"> -->
   
    <div class="layout-content">

        <div class="flex flex-column md:flex-row gap-5" style="min-height: 81vh;">
            <div class="md:w-25rem card p-0">
                <app-header-contact></app-header-contact>

                <div class="w-full flex row-gap-4 flex-column surface-border p-4">
                    search:
                    <!-- list -->
                    <div class="flex flex-row gap-4 md:flex-column overflow-auto">
                        <app-list-contact class="ng-star-inserted"></app-list-contact>
                    </div>
                </div>
            </div>

            <div class="flex-1 card p-0">
                <div class="flex flex-column h-full">
                    <!-- header body -->
                    <app-body-chat-header></app-body-chat-header>

                    <!-- body chat -->
                    <div class="p-3 md:px-4 lg:px-6 lg:py-4 mt-2 overflow-y-auto">
                        <div class="ng-star-inserted">
                            <div class="grid grid-nogutter mb-4 ng-star-inserted">
    
                                <div class="mr-3 mt-1">
                                    <img alt="user.name" class="w-3rem h-3rem border-circle shadow-4" src="https://www.primefaces.org/diamond-ng/assets/demo/images/avatar/ionibowcher.png">
                                </div>
                                <div class="col mt-3">
                                    <p class="text-900 font-semibold mb-3">Ioni Bowcher</p>
                                    <span class="text-700 inline-block font-medium border-1 surface-border p-3 white-space-normal border-round" style="word-break: break-word; max-width: 80%;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    </span>
                                    <p class="text-700 mt-3">
                                        15:25
                                        <i class="pi pi-check ml-2 text-green-400"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="ng-star-inserted">
                            <div class="grid grid-nogutter mb-4 ng-star-inserted">
                                <div class="col mt-3 text-right">
                                    <span class="inline-block text-left font-medium border-1 surface-border bg-primary-100 text-primary-900 p-3 white-space-normal border-round" style="word-break: break-word; max-width: 80%;">
                                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                    </span>
                                    <p class="text-700 mt-3">
                                        15:26 
                                        <i class="pi pi-check ml-2 text-green-400"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- input chat -->
                    <div class="p-3 md:p-4 lg:p-6 flex flex-column sm:flex-row align-items-center mt-auto border-top-1 surface-border gap-3">
                        <input id="message" type="text" pinputtext="" placeholder="Type a message" class="p-inputtext p-component p-element flex-1 w-full sm:w-auto border-round ng-untouched ng-pristine ng-valid">
                        <div class="flex w-full sm:w-auto gap-3">
                            <button pripple="" class="p-ripple p-element p-button p-button-secondary w-full sm:w-auto justify-content-center text-xl">
                                😀
                                <span class="p-ink" aria-hidden="true" role="presentation" style="height: 54px; width: 54px; top: -23px; left: 0.650024px;">
                                </span>
                            </button>
                            <button pbutton="" pripple="" label="Send" icon="pi pi-send" class="p-element p-ripple w-full sm:w-auto p-button p-component">
                                <span class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span>
                                <span class="p-button-label">Send</span>
                                <span class="p-ink" aria-hidden="true" role="presentation"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="flex flex-column align-items-center border-bottom-1 surface-border p-6 bg-primary">
            <p>base works!</p>
            
        </div> -->
    </div>


<!-- </ng-container> -->









